<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>My Trips</title>
</h:head>

<h:body>
	<h1>Thank You</h1>
	<h:form>
		<h:commandButton value="Go To Home Page" action="Menu_bar.jsp" />
	</h:form>
</h:body>

</html>
