#search{
    height: 70px;
    border: 2px solid black;
    /* flex:1; */
    background-color: #ff809b;
}

#back{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#bus_content{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex: 1;
}

#from{
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 40px;
}
#modify_search{
    height: 30px;
    width: 100px;
    text-transform: capitalize;
    background-color: #ff3c65;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#bus_list{
    margin-top: 20px;
    /*border: 3px solid blue;*/
    flex: 1;
    padding: 10px;
}
.bus_items{
	box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

#bus_info{
    display: grid;
    /*border: 2px solid black;*/
    padding: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-auto-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
#toptable{
	background-color: #f5c0c0;
	display: grid;
	padding: 20px;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px black;
}
#bus_info p{
    font-weight: bold;
    font-size: 18px;
    
}

#view_seat_div{
    /* border: 2px solid green; */
    display: flex;
    flex-flow: row-reverse;
}
#view_seats{
    /* border: 2px solid green; */
    height: 30px;
    width: 100px;
    border: 0;
    background-color: #ff0035;
}