#show_seats{
	width: 60%;
    margin-top: 5px;
    /*border: 2px solid green;*/
    padding: 10px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    box-shadow: 1px 1px 2px black;
}
#seats{
    /* border: 2px solid red; */
    flex: 1;
    padding: 10px;
}
#seats_select{
    /* border: 1px solid black; */
    background-color: #ffd9d9;
    /*box-shadow: 2px 2px 10px pink;*/
    height: 200px;
    display: flex;
}
#steering{
    /* border: 1px solid black; */
    width: 50px;
    padding-top: 6px;
    padding-left: 5px;
}
#steering img{
    transform: rotate(270deg);
}
#steering img:hover{
    animation-name: steer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes steer{
    0%{transform: rotate(80deg);}
    25%{transform: rotate(160deg);}
    50%{transform: rotate(240deg);}
    75%{transform: rotate(320deg);}
    100%{transform: rotate(360deg);}
}
#line{
    /* border: 1px solid black; */
    width: 3px;
    height: 90%;
    margin: auto 0;
    background-color: #666363;
}

.grid td {
	width:80px;
	height: 35px;
	padding: 5px;
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 20px;
    display: flex;
    justify-content:center;
    line-height: 1.2;
    float: left;
    white-space: pre;
 	background-color: #f69d9d;
    box-sizing: border-box;
}
.grid td input[type=checkbox]{
	display: none;
}
.grid tr,label{
	cursor: pointer;
}
.grid{
	/*border: 1px solid black;*/
	margin-left: 30px;
}
.grid td:nth-child(4n+5) {
    clear: left;
}
