*{
    margin: 0;
    padding: 0;
}
.login_box{
    background-color: #f390a5;
    border: 2px solid #ea3737;
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 60px #fe5b7d;
    color: white;
}
#uname_part, #pass_part, #btn_part{
    top: 50px;
    margin: 0 auto;
    display: block;
    width: 60%;
    font-size: 15px;
}

#uname_part{
    margin-top: 100px;
}

#uname, #pass{
    height: 25px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #ea3737;
}
#pass_part{
    margin-top: 30px;
    left: 90px;
}
#btn_part{
    margin-top: 40px;
}
#submit{
    background-color: #ea3737;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 0;
    box-shadow: 2px 2px 20px #ea3737;
    margin-bottom: 30px;
}
#signUp{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    /* border: 2px solid black; */
    display: block;
}
#signUp_link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}