*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:40px;
    height: 40px;
    /* border: 2px solid black; */
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: hsl(347, 99%, 68%);
    padding: 10px;
}

h2{
    margin-left: 15px;
}
header{
    flex: 1;
    text-align: right;
    /* border: 2px solid black; */
    position: relative;
    vertical-align: middle;
}
header ul{
    list-style-type: none;
    display: inline-block;
}
header ul li{
    display: inline-block;
    margin-right: 20px;
}
header ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#userIcon{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.main_content{
    display: flex;
}
.navigation{
    height: 650px;
    width: 300px;
    /* border: 2px solid black; */
    background-color: #c83151;
}
nav{
    /* border: 2px solid black; */
    height: 450px;
    text-align: center;
    display: flex;
}
nav ul {
    width: 250px;
    height: 600px;
    list-style-type: none;
    /* border: 2px solid black; */
    margin: 0 auto;
}

nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav_items{
    background-color: #fe5b7d;
    height: 50px;
    line-height: 2.7;
    /* border: 2px solid black; */
    margin-top: 27px;
}
.nav_items:hover{
    transform: scale(1.1,1.1);
}

#content{
    flex: 1;
    display: flex;
    flex-flow: column;
}

.bus_search{
    /* border: 2px solid black; */
    height: 400px;
}
.text_boxes{
    margin: 0 auto;
    width: 750px;
    position: relative;
    padding: 20px;
    top: 100px;
    height: 90px;
    display: flex;
    /* border: 2px solid black; */
}
.from_box, .to_box, .date_box{
    height: 70px;
    display: flex;
    /* border: 2px solid black; */
    padding: 10px;
    flex-flow: column;
    margin-right: 50px;
}
#fromlbl ,#tolbl, #datelbl{
    margin-bottom: 7px;
    font-weight: bold;
}
#from , #to, #date{
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    padding: 4px;
    border: 0;
}
#bus_search_div{
    margin: 0 auto;
    width: 750px;
    /* border: 2px solid black; */
    height: 100px;
}
#bus_Search{
    color: white;
    cursor: pointer;
    font-size: 22px;
    width: 200px;
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 110px;
    background-color: #ea3737;
    /* border: 2px solid black; */
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 10px black;
}
#bus_Search:hover{
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
}
#bus_marketing{
    /* border: 2px solid black; */
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.item{
    /* border: 1px solid black; */
    width: 200px;
    height: 230px;
    margin-top: 5px;
    padding: 3px;
    box-shadow: 2px 2px 4px black;
}
.item img{
    display: block;
    margin: 0 auto;
    /* border: 2px solid black; */
    height: 100px;
    width: 100px;
}
.item h3{
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}
.item p{
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
}
#footer{
    display: flex;
    /* border: 2px solid black; */
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(24, 23, 23, 0.959);
}
#footer img{
    width: 50px;
    height: 50px;
}
#footer p{
    margin-top: 15px;
    width: 200px;
    color: white;
    font-size: 12px;
}
