*{
    margin: 0;
    padding: 0;
}
#signup_page_whole{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    display: none;
    justify-content: center;
    align-items: center;
}
#signup_page_part{
    width: 40%;
    height: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
input{
    width: 50%;
    font-size: 14px;
    display: block;
    height: 25px;
    margin: 30px auto;
    border:2px solid rgb(166, 166, 243);
    border-radius: 5px;
}
#buttons{
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 40%;
}
#register{
    width: 40%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(255, 46, 81);
}
#register:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
#reset{
    width:40%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(255, 46, 81);
    cursor: pointer;
}
#reset:hover{
    transform: scale(1.1,1.1);
}
#close{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
    transform: rotate(45deg);
}
#close:hover{
    color: gray;
}